<header>
    <h1 id="title"><a class="no-decoration" href="{{ site.Home.Permalink }}">{{ site.Title }}</a></h1>
    <nav id="navbar">
        <ul>
            {{ range site.RegularPages }}
            <li>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
            {{ end }}

            {{ if .IsTranslated }}
            {{ range .Translations }}
            <li>
                <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
            </li>
            {{ end }}
            {{ end }}
        </ul>
    </nav>
</header>
